@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Noto+Sans:wght@300;900&family=Poppins:wght@300&display=swap');
body{
    color:white;
    font-family: 'Catamaran', sans-serif;
    background-color: #BDBDBD;
    font-size: 22px;
}
main{
    background-color: #616161;
}
#header{
    background-color:#212121;
}


nav #nav_logo{
    font-size: 50px;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
}

.navbar-nav{
    align-items: center;
}

li .nav-link{
    font-size: 20px;
}
#footer{
    color: #3a3a3a;
    align-items: center;
    line-height: 30px;
}

#footer p{
    padding: 15px 30%;
}

.Search{
    padding:20px 150px;
}