@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Noto+Sans:wght@300;900&family=Poppins:wght@300&display=swap');
body{
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    background-color: #424242;
    font-size: 22px;
}
main{
    background-color: #BDBDBD;
}
#header{
    background-color:#212121;
}


nav #nav_logo{
    font-size: 50px;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
}

.navbar-nav{
    align-items: center;
}

li .nav-link{
    font-size: 20px;
}


.Search{
    padding:20px 150px;
}
.results{
    color: yellow;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    background-color: #000000ad;
    padding:30px 100px;
    border-radius: 6px;
    box-shadow: #000000;
    max-width: 800px;
    margin: auto;
}

.contents{
    font-weight: 300;
}







/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.name{
    color: #F06292;
    box-shadow: #000000;
}
.nam{
    color: #850c34;

    box-shadow: #000000;
}
.books{
    padding: 30px;
}
.card{
    background-color: #1b1b1b;
    color: #F48FB1;
    padding:8px;
}

#rows{
    display:flex;
    justify-content: space-between;
}

#Book_name{
    color: #000000;
}





table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 300;
    color: #ffffff;

}
table th{
    background-color:rgba(0, 0, 0, 0.3) ;
}
table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3);
    border-radius:6px;
}

#tables{
    padding: 40px 70px;
    
    background-color: #3a3a3a;
    border-radius: 8px;
}
#leaders{
        padding: 40px 70px;
        
        background-color: #3a3a3a;
        border-radius: 8px;
    }


/* for about page */
.hero {
    padding: 60px 45px;
    display: flex;
    justify-content: center;
    
 }

 .hero-content{
    max-width: 760px;
   
 }

 .hero h1{
    font-weight: normal;
    font-size: 4rem;
    color: #a52751;
    font-weight: 800;
    margin: 0;
 }

 /*footer*/
 #footer{
    color: #ffffff;
    background-color: #424242;
    align-items: center;
    font-size: medium;
    line-height: 30px;
}

#footer p{
    padding: 50px 30% 0px 30%;
    
}

#footer a{
    text-decoration: none;
    color: #df1b5c;

}
#footer a:hover{
    color: #fd4884;
}
