{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container">
        <h1>Add Books &emsp;<img src="/static/book.png" alt="logo" width="50px" class="d-inline-block align-text-top"></h1>
    </div>

    <div class="container" id = "add_form">
        <form class="Search" name = "Search" id ="addbook" action = "/add" method="post">

            <div class="mb-3 row"> 
                <label for="BookSearch" class="col-sm-2 col-form-label">Book Name</label>
                <div class="col-sm-10">
                  <input type="text" placeholder = "Eg: 1984" class="form-control" id="BookSearch" name = "BookSearch" >
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-dark" name = "btn" value ="Search">Search</button>
              </div>  
        </form>  
        
    </div>
    
    <!-- Data obtained from google api , and stored in BOOKLIST-->
    {% if image|length > 0 %}
    <form method = 'POST' action = "/process" name = "Add">
      <div class="container" >
        
        <div class="results">
          {% for i in range(BOOKLIST|length) %}

          <div class="row">

            <div class="col"> <img src = {{image[i]}} width="200px" > </div>
            <div class="col">
              <h1>{{BOOKLIST[i]["title"]}}</h1>
              <div class="contents">
                <b>Author</b>:{{BOOKLIST[i]["author"]}}
                <b>Pages</b>:{{BOOKLIST[i]["author"]}}
                <b>Desciption</b>:{{BOOKLIST[i]["description"]}}...
                <br>
                {% set var = BOOKLIST[i]["id"] %}
                <button class="button-40" type="submit" name = "btn" value = {{var}} >Add</button>
              </div>
            </div>
            

          </div>
          <br>

          {% endfor %}
        </div>

      </div>
      </form>
    {% endif %}
    
    
{% endblock %}