{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container">
        <h2>Add Books &emsp;<img src="/static/book.png" alt="logo" width="50px" class="d-inline-block align-text-top"></h2>
    </div>

    <div class="container" id = "add_form">
        <form class="Search" name = "Search" id ="addbook" method="post">

            <div class="mb-3 row"> 
                <label for="BookSearch" class="col-sm-2 col-form-label">Book Name</label>
                <div class="col-sm-10">
                  <input type="search" placeholder = "Eg: 1984" class="form-control" id="BookSearch" name = "BookSearch" required>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-secondary" name = "btn" value ="Search">Search</button>
              </div>  
            
        </form>
    </div>
    <!-- Data obtained from google api , and stored in BOOKLIST-->
    {% if image|length > 0 %}
      <div class="conatiner" >
        
        <div class="results">
          {% for i in range(image|length) %}
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique modi ipsum expedita distinctio non doloremque corrupti? Voluptatibus tempore magni fuga, delectus quia deserunt, impedit, accusamus voluptatem facere blanditiis dolorum pariatur.</p>
          <img src = {{image[i]}}>
          {% endfor %}
        </div>

      </div>
    {% endif %}
    

{% endblock %}