{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    
    <div class="container"><h1 >Hello, <span class ="nam">{{name}}!</span></h1></div>
    <div class="container-fluid"><p>
        <div class="content_add">
            <h3>In this modern world Book reading has been drastly declined, lifestyle of people is now rapidly gaining pace.
                people who have a reading habit finds difficulty in maintain their reading statsitics.<b>Litracker</b> , a Online web app
                which stores our Book stats like how much pages we have read. Go and Start your reading journey
            </h3>
        </div>
    </p></div>

    <div class="container">
        <h2>Your <span class = "nam">Books</span> &emsp;<img src="/static/book.png" alt="logo" width="50px" class="d-inline-block align-text-top"></h2>
        
        <div class="books">
            <div class="row gy-5" id = "rows">
            {% for i in range(count)%}
            {% set bookid = BOOKS[i]["g_id"] %}
            
            <div class="col-md-4 col-4">
                <div class="card" style="width:350px" >
                    <h3 class="card-header"><span class = "name">{{BOOKS[i]["title"]}}</span></h3>
                    <a href = "http://books.google.co.in/books?id={{bookid}}&hl=&source=gbs_api"><img class="card-img-top" src={{image[i]}} width = "50px"alt="Card image cap" ></a>
                    <div class="card-body">
                    <p class="card-text">
                        </b>{{BOOKS[i]["author"]}} <br>
                    <span class = "pageread">{{query[i]["currentPage"]}}</span>/{{BOOKS[i]["page"]}}</p>
                    {% set bar = query[i]["currentPage"] / BOOKS[i]["page"] %}
                    {% set barp = bar*100 %}
                    
                    <!-- Getting template value to implement progress bar feature-->
                    <div class="bar" style="width:{{barp}}% ; height:5px; background-color: #F48FB1;" ></div>
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
        </div>
    </div>
    
    <form action="/" id = "page" method="post">
        <h2></h2>
        <div class="mb-3">
            <b>Select Bookname</b>
            <select   name="Book_name">
                <option disabled selected value="">Book</option>
                {% for book in BOOKS %}
                    <option id = "Book_name" value="{{ book['title'] }}">{{ book['title']  }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off"  class="form-control mx-auto w-auto"  min="1" id = "pages_read" name="pages_read" placeholder="Pages read " type="Number">
        </div>
    
        <button class="btn btn-dark" id = "buyButton" type="submit">Update</button>
        <script src="static/index.js">
        
        </script>
    </form>
    

{% endblock %}