{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container" style="padding-bottom:100px;">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" min="7" required>
            </div>
            <button class="btn btn-dark" type="submit">Log In</button>
        </form>
    </div>


    <div class="container">
        <div class="hero_Add">
            <div class="hero-contents" >
                <h1>"Do the hard work especially when you don’t feel like it"</h1>
                
                
            </div>

    </div>
    </div>

    <div class="container" >
        <div class="row">
            <div class="heading">
                <h1 >A Companion which tracks your reading habit, </h1>
                    <h3>Visit <a style = "text-decoration: none; color: rgb(199, 13, 115);" href = "about.html">About</a> for more details </h3>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
    
{% endblock %}